<div class="row">
    <h1 class="text-center">Quote Generator</h1>
    <div class="col-6 p-5">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSngjJMLLcCz31ktq-ECNCLjzAWn88my-BBRw&s" width="600px" alt="">
    </div>
    <div class="col-6 p-5 mt-6">
        <div class="d-flex justify-content-evenly " style="margin-top:300px ;">
            <button (click)="loginpage()" class="btn btn-success">Login</button>
        <button (click)="registerpage()" class="btn btn-warning">Register</button>
        </div>
    </div>
</div>
